## IMPORTANT: Requires 'amp-bind' library
<!--#protect
#set($faq = $_XPathTool.selectSingleNode($contentRoot, '//system-data-structure/FAQ'))
#set($tabs = $_XPathTool.selectNodes($faq, 'TAB'))

<div class="faq">
    <ul class="tab-list">
        #foreach($tab in $tabs)
            #set($i = $velocityCount - 1)
            #set($label = $_EscapeTool.xml($tab.getChild('LABEL').value))
            <li class="tab" [class]="currentTab == ${i} ? 'active' : ''" on="tap:AMP.setState({ currentTab: ${i} })" aria-haspopup="true" tabindex="0">${label}</li>
        #end
    </ul>
    <div class="container-list">
        #foreach($tab in $tabs)
            #set($i = $velocityCount - 1)
            #if($i == 0) #set($active = "active") #else #set($active = "") #end
            <amp-selector class="${active}" [class]="currentTab == ${i} ? 'active' : ''" layout="container" multiple="">
                <ul class="container" >
                    #set($items = $_XPathTool.selectNodes($tab, 'ITEM'))
                    #foreach($item in $items)
                        #set($ii = $velocityCount - 1)
                        #set($question = $_EscapeTool.xml($item.getChild('QUESTION').value))
                        #set($answer = $_EscapeTool.xml($item.getChild('ANSWER').value))
                        <li class="item">
                            <h3 class="question" option="${ii}" role="option" aria-haspopup="true" tabindex="0">${question}</h3>
                            <p class="answer">${answer}</p>
                        </li>
                    #end
                </ul>
            </amp-selector>
        #end
    </div>
</div>
#protect-->