## Include main page HTML
<main id="mainwrap">
    ## Loop through each SECTION
    #set($sections = $_XPathTool.selectNodes($contentRoot, '//system-data-structure/SECTION'))
    #foreach($section in $sections)
        ## Get section PROPERTIES
        #set($properties = $_XPathTool.selectSingleNode($section, 'PROPERTIES'))
        #set($sectionId = $_EscapeTool.xml($properties.getChild('ID').value))
        #if($sectionId.length() > 0) #set($sectionId = 'id="'+$sectionId+'"') #end
        #set($sectionClass = $_EscapeTool.xml($properties.getChild('CLASS').value))
        
    <section ${sectionId} class="section-${velocityCount} ${sectionClass}">
        ## Loop through each ROW
        #set($rows = $_XPathTool.selectNodes($section, 'ROW'))
        #foreach($row in $rows)
        
        <div class="row">
            ## Loop through each COLUMN
            #set($columns = $_XPathTool.selectNodes($row, 'COLUMN'))
            #foreach($column in $columns)
                ## set column size
                #set($colSize = $_EscapeTool.xml($column.getChild('SIZE').value))
            <div class="${colSize}">
                ## set element properties
                #set($elem = $_XPathTool.selectSingleNode($column, 'ELEMENT'))
                #set($elemType = $_EscapeTool.xml($column.getChild('ELEMENT-TYPE').value))
                #set($widthParent = $_EscapeTool.xml($elem.getChild('WIDTH-PARENT').value))
                #set($heightParent = $_EscapeTool.xml($elem.getChild('HEIGHT-PARENT').value))
                #set($layout = $_EscapeTool.xml($elem.getChild('LAYOUT').value))
                #set($autoplay = $_EscapeTool.xml($elem.getChild('AUTOPLAY').value))
                #set($loop = $_EscapeTool.xml($elem.getChild('LOOP').value))
                #set($indicators = $_EscapeTool.xml($elem.getChild('INDICATORS').value))
                #set($sliderName = $_EscapeTool.xml($elem.getChild('SLIDER-NAME').value))
                #set($delay = $_EscapeTool.xml($elem.getChild('DELAY').value))
                #set($sandbox = $_EscapeTool.xml($elem.getChild('SANDBOX').value))
                #set($view = $_EscapeTool.xml($elem.getChild('VISIBILITY').value))
                
                ## update autoplay string value for AMP video/carousel attributes
                #if($autoplay == 'true') #set($autoplay = 'autoplay=""') #else #set($autoplay = '') #end
                #if($loop == 'true') #set($loop = 'loop=""') #else #set($loop = '') #end
                
                ## check if item is hidden on desktop or mobile
                #if($view == 'Desktop') #set($viewClass = 'class="hide-mobile"')
                #elseif($view == 'Mobile') #set($viewClass = 'class="hide-desktop"')
                #elseif($view == 'DesktopMobile') #set($viewClass = '')
                #else #set($viewClass = 'class="hide-both"') #end
                
                
                ## insert HTML by element type
                #if($elemType == 'h1' || $elemType == 'h2' || $elemType == 'h3' || $elemType == 'p' || $elemType == 'div')
                    ## loop through each item
                    #set($items = $_XPathTool.selectNodes($elem, 'ITEM'))
                    #foreach($item in $items)
                        ## set text attributes
                        #set($text = $item.getChild('TEXT').value)
                        
                    ## display each element item
                    <${elemType} ${viewClass}>${text}</${elemType}>
                    #end ## end loop
                
                
                ## <a> element type
                #elseif($elemType == 'a')
                    ## loop through each item
                    #set($items = $_XPathTool.selectNodes($elem, 'ITEM'))
                    #foreach($item in $items)
                        ## set item attributes
                        #set($text = $item.getChild('TEXT').value)
                        #set($src = "[system-asset]" + $_EscapeTool.xml($item.getChild('MEDIA').getChild('link').value) + "[/system-asset]")
                        #set($extSrc = $_EscapeTool.xml($item.getChild('MEDIA-EXTERNAL').value))
                        #set($altText = $_EscapeTool.xml($item.getChild('ALT-TEXT').value))
                        #set($linkType = $_EscapeTool.xml($item.getChild('LINK-TYPE').value))
                        #set($link = $_XPathTool.selectSingleNode($item, 'LINK'))
                        #if(${extSrc.length()} > 0) #set($src = $extSrc) #end ## overrides src link
                        
                        ## call macro located at the bottom
                        #setLinkAttributes()
                    
                    ## display each element item
                    <a ${viewClass} ${href} ${target} ${customAttr}>${text}</a>
                    #end ## end loop
                
                
                #elseif($elemType == 'ul')   
                    <ul ${viewClass}>
                    ## loop through each item
                    #set($items = $_XPathTool.selectNodes($elem, 'ITEM'))
                    #foreach($item in $items)
                        ## set text attributes
                        #set($text = $item.getChild('TEXT').value)
                        
                        ## display each element item
                        <li>${text}</li>
                    #end ## end loop
                    </ul>
                
                
                ## <amp-img> element type
                #elseif($elemType == 'img')
                    ## loop through each item
                    #set($items = $_XPathTool.selectNodes($elem, 'ITEM'))
                    #foreach($item in $items)
                        ## set item attributes
                        #set($width = $_EscapeTool.xml($item.getChild('WIDTH').value))
                        #set($height = $_EscapeTool.xml($item.getChild('HEIGHT').value))
                        #set($src = "[system-asset]" + $_EscapeTool.xml($item.getChild('MEDIA').getChild('link').value) + "[/system-asset]")
                        #set($extSrc = $_EscapeTool.xml($item.getChild('MEDIA-EXTERNAL').value))
                        #set($altText = $_EscapeTool.xml($item.getChild('ALT-TEXT').value))
                        #set($linkType = $_EscapeTool.xml($item.getChild('LINK-TYPE').value))
                        #set($link = $_XPathTool.selectSingleNode($item, 'LINK'))
                        #if(${extSrc.length()} > 0) #set($src = $extSrc) #end ## overrides src link
                        
                        ## call macro located at the bottom
                        #setLinkAttributes()
                    
                        ## display each element item
                        #if($linkType != 'NONE')
                        <a ${viewClass} ${href} ${target} ${customAttr}>
                        #end
                            <amp-img src="${src}" width="${width}" height="${height}" layout="${layout}" alt="${altText}">
                            </amp-img>
                        #if($linkType != 'NONE')
                        </a>
                        #end
                    #end ## end loop
                
                
                ## <amp-carousel> element type
                #elseif($elemType == 'carousel')
                    #set($items = $_XPathTool.selectNodes($elem, 'ITEM'))
                    #set($slideAttr = '')
                    #set($onAttr = '')
                    
                    <!--#protect
                    ## include indicators if true, and if the slider has a name, and if there are more than 1 slide
                    #if($indicators == "true" && $sliderName.length() > 0 && $items.size() > 1)
                        #set($sliderName = $sliderName.replace('-',''))
                        #set($slideAttr = '[slide]="'+${sliderName}+'"')
                        #set($onAttr = 'on="slideChange:AMP.setState({'+${sliderName}+': event.index})"')
                        <ol class="indicators">
                            ## loop through each item
                            #foreach($item in $items)
                                #set($i = $velocityCount - 1)
                                <li aria-label="slide ${velocityCount}" role="button" class="#if($i == 0)active#end" [class]="${sliderName} == ${i} ? 'active' : ''" on="tap:AMP.setState({${sliderName}: ${i}})" tabindex="0"></li>
                            #end
                        </ol>
                    #end
                    
                    ## amp carousel
                    <amp-carousel ${slideAttr} ${onAttr} ${viewClass} width="${widthParent}" height="${heightParent}" layout="${layout}" type="slides" ${autoplay} ${loop} delay="${delay}">
                    ## loop through each item
                    #foreach($item in $items)
                        ## set item attributes
                        #set($width = $_EscapeTool.xml($item.getChild('WIDTH').value))
                        #set($height = $_EscapeTool.xml($item.getChild('HEIGHT').value))
                        #set($src = "[system-asset]" + $_EscapeTool.xml($item.getChild('MEDIA').getChild('link').value) + "[/system-asset]")
                        #set($extSrc = $_EscapeTool.xml($item.getChild('MEDIA-EXTERNAL').value))
                        #set($altText = $_EscapeTool.xml($item.getChild('ALT-TEXT').value))
                        #set($linkType = $_EscapeTool.xml($item.getChild('LINK-TYPE').value))
                        #set($link = $_XPathTool.selectSingleNode($item, 'LINK'))
                        
                        ## check overrides for src link
                        #if(${extSrc.length()} > 0) #set($src = $extSrc) #end
                        
                        ## check if width is set for child items
                        #if(${width.length()} <= 0) #set($width = $widthParent) #end
                        #if(${height.length()} <= 0) #set($height = $heightParent) #end
                        
                        ## call macro located at the bottom
                        #setLinkAttributes()
                        
                        ## display each element item
                        #if($linkType != 'NONE')
                        <a ${href} ${target} ${customAttr}>
                        #end
                            <amp-img src="${src}" width="${width}" height="${height}" layout="${layout}" alt="${altText}">
                            </amp-img>
                        #if($linkType != 'NONE')
                        </a>
                        #end
                    #end ## end loop
                    </amp-carousel>
                    #protect-->
                
                ## <amp-video> element type
                #elseif($elemType == 'video')
                    ## loop through each item
                    #set($items = $_XPathTool.selectNodes($elem, 'ITEM'))
                    #foreach($item in $items)
                        ## set item attributes
                        #set($width = $_EscapeTool.xml($item.getChild('WIDTH').value))
                        #set($height = $_EscapeTool.xml($item.getChild('HEIGHT').value))
                        #set($src = "[system-asset]" + $_EscapeTool.xml($item.getChild('MEDIA').getChild('link').value) + "[/system-asset]")
                        #set($poster = "[system-asset]" + $_EscapeTool.xml($item.getChild('POSTER').getChild('link').value) + "[/system-asset]")
                        #set($extSrc = $_EscapeTool.xml($item.getChild('MEDIA-EXTERNAL').value))
                        #set($altText = $_EscapeTool.xml($item.getChild('ALT-TEXT').value))
                        #if(${extSrc.length()} > 0) #set($src = $extSrc) #end ## overrides src link
                        
                        ## display each element item
                        <amp-video ${viewClass} alt="${altText}" width="${width}" height="${height}" src="${src}" poster="${poster}" layout="${layout}" ${autoplay} ${loop}>
                            <div fallback=""><p>Your browser doesn't support HTML5 video.</p></div>
                        </amp-video>
                    #end ## end loop
                
                
                ## <iframe> element type
                #elseif($elemType == 'iframe')
                    ## loop through each item
                    #set($items = $_XPathTool.selectNodes($elem, 'ITEM'))
                    #foreach($item in $items)
                        ## set item attributes
                        #set($width = $_EscapeTool.xml($item.getChild('WIDTH').value))
                        #set($height = $_EscapeTool.xml($item.getChild('HEIGHT').value))
                        #set($src = $_EscapeTool.xml($item.getChild('MEDIA-EXTERNAL').value))
                        #set($altText = $_EscapeTool.xml($item.getChild('ALT-TEXT').value))
                        
                        ## display each element item
                        <amp-iframe ${viewClass} src="${src}" width="${width}" height="${height}" title="${altText}" layout="${layout}" sandbox="${sandbox}" allowfullscreen="" frameborder="0">
                            <amp-img src="https://apps.kahalamgmt.com/images/placeholder.png" placeholder="" width="16" height="16">
                            </amp-img>
                        </amp-iframe>
                    #end ## end loop
                
                
                ## block type
                #elseif($elemType == 'block')
                    ## loop through each item
                    #set($items = $_XPathTool.selectNodes($elem, 'ITEM'))
                    #foreach($item in $items)
                        #set($blockType = $_EscapeTool.xml($item.getChild('BLOCK-TYPE').value))
                        #set($format = $_EscapeTool.xml($item.getChild('FORMAT').value))
                        ## check format URL
                        #if($format == '')
                            ## insert raw XML
                            <div ${viewClass}>
                                $_SerializerTool.serialize($item.getChild('BLOCK').getChild('content'), true)
                            </div>
                        #else
                            ## insert format script
                            #import($format) 
                        #end
                    #end ## end loop
                #end
            </div>
            #end
        </div>
        #end
    </section>
    #end
</main>

## useful macros/methods/functions
#macro(setLinkAttributes)
    ## check link type
    #if($linkType == 'NONE')
        #set($href = '')
        #set($target = '')
    #elseif($linkType == 'PAGE')
        #set($href = 'href="'+$_EscapeTool.xml($link.getChild('PAGE').getChild('link').value)+'"')
        #set($target = 'target="'+$link.getChild('TARGET').value+'"')
        #set($customAttr = $link.getChild('CUSTOM-ATTRIBUTE').value)
    #elseif($linkType == 'URL')
        #set($href = 'href="'+$_EscapeTool.xml($link.getChild('URL').value)+'"')
        #set($target = 'target="'+$link.getChild('TARGET').value+'"')
        #set($customAttr = $link.getChild('CUSTOM-ATTRIBUTE').value)
    #end
#end