## Render page content with custom attributes for each node
#set($page = $_XPathTool.selectSingleNode($contentRoot, '//system-data-structure/PAGE'))
#set($sections = $_XPathTool.selectNodes($page, 'SECTION'))
#foreach($section in $sections)
    #setAttributes($section)
    <section ${attributes} data-name="section-${velocityCount}">
        #set($rows = $_XPathTool.selectNodes($section, 'ROW'))
        #foreach($row in $rows)
            #setAttributes($row)
            <div ${attributes}>
                #set($columns = $_XPathTool.selectNodes($row, 'COLUMN'))
                #foreach($column in $columns)
                    #setAttributes($column)
                    <div ${attributes}>
                        #set($contents = $_XPathTool.selectNodes($column, 'CONTENT'))
                        #foreach($content in $contents)
                            #setAttributes($content)
                            #setContent($content)
                        #end
                    </div>
                #end
            </div>
        #end
    </section>
#end

## set attributes for elements with visible data definitions.
#macro(setAttributes $elem)
    #set($attributes = $elem.getChild('ATTRIBUTES').value)
    
    ## $content attributes (may be inherited by $item attributes)
    #set($type = $elem.getChild('TYPE').value)
    #set($width = $elem.getChild('WIDTH').value)
    #set($height = $elem.getChild('HEIGHT').value)
    #set($layout = $elem.getChild('LAYOUT').value)
    #set($autoplay = $elem.getChild('AUTOPLAY').value)
    #set($loop = $elem.getChild('LOOP').value)
    #set($indicators = $elem.getChild('INDICATORS').value)
    #set($delay = $elem.getChild('DELAY').value)
    #set($sandbox = $elem.getChild('SANDBOX').value)
    
    ## $item attributes
    #set($text = '') #set($text = $elem.getChild('TEXT').value)
    #set($internalMedia = '') #set($internalMedia = $elem.getChild('INTERNAL-MEDIA').getChild('link').value)
    #set($videoPoster = '') #set($videoPoster = $elem.getChild('VIDEO-POSTER').getChild('link').value)
    #set($block = '') #set($block = $_SerializerTool.serialize($elem.getChild('BLOCK').getChild('content'), true))
    #set($format = '') #set($format = $_EscapeTool.xml($elem.getChild('FORMAT').value))
    #set($externalMedia = '') #set($externalMedia = $_EscapeTool.xml($elem.getChild('EXTERNAL-MEDIA').value))
    #set($altText = '') #set($altText = $_EscapeTool.xml($elem.getChild('ALT-TEXT').value))
    #set($internalPath = '') #set($internalPath = $elem.getChild('INTERNAL-PATH').getChild('link').value)
    #set($externalPath = '') #set($externalPath = $_EscapeTool.xml($elem.getChild('EXTERNAL-PATH').value))
    #set($target = '') #set($target = $elem.getChild('TARGET').value)
    #set($wysiwyg = '') #set($wysiwyg = $_SerializerTool.serialize($_XPathTool.selectSingleNode($elem, 'WYSIWYG'), true))
    #set($link = '')
    #set($src = '')
    #set($poster = '')
    
    ## Conditionally modify attributes
    #if($internalPath.length() > 0) #set($link = '[system-asset]' + $internalPath + '[/system-asset]') #end
    #if($externalPath.length() > 0) #set($link = $externalPath) #end
    #if($internalMedia.length() > 0) #set($src = '[system-asset]' + $internalMedia + '[/system-asset]') #end
    #if($externalMedia.length() > 0) #set($src = $externalMedia) #end
    #if($videoPoster.length() > 0) #set($poster = 'poster="[system-asset]' + $videoPoster + '[/system-asset]"') #end
    #if($autoplay == 'true') #set($autoplayAttr = 'autoplay=""') #else #set($autoplayAttr = '') #end
    #if($loop == 'true') #set($loopAttr = 'loop=""') #else #set($loopAttr = '') #end
    #if(!$contentId) #set($contentId = 0) #else #set($contentId = $contentId + 1) #end
#end

## Output HTML by content type
#macro(setContent $content)
    #set($items = $_XPathTool.selectNodes($content, 'ITEM'))
    #if($type == 'h1' || $type == 'h2' || $type == 'h3' || $type == 'p' || $type == 'div')
        #foreach($item in $items)
            #setAttributes($item)
            <${type} ${attributes}>${text}</${type}>
        #end
    #elseif($type == 'a')
        #foreach($item in $items)
            #setAttributes($item)
            <a href="${link}" target="${target}" ${attributes}>${text}</a>
        #end
    #elseif($type == 'ul')
        <ul ${attributes}>
        #foreach($item in $items)
            #setAttributes($item)
            <li>${text}</li>
        #end
        </ul>
    #elseif($type == 'amp-img')
        #foreach($item in $items)
            #setAttributes($item)
            #if($link != '')<a href="${link}" target="${target}">#end
                <amp-img src="${src}" width="${width}" height="${height}" layout="${layout}" alt="${altText}" ${attributes}>
                </amp-img>
            #if($link != '')</a>#end
        #end
    #elseif($type == 'amp-video')
        #foreach($item in $items)
            #setAttributes($item)
            <amp-video id="video_${contentId}" alt="${altText}" width="${width}" height="${height}" src="${src}" ${poster} layout="${layout}" ${autoplayAttr} ${loopAttr} on="tap:video_${contentId}.play" ${attributes}>
                <div fallback=""><p>Your browser doesn't support HTML5 video.</p></div>
            </amp-video>
        #end
    #elseif($type == 'amp-carousel')
        #set($parentWidth = $width)
        #set($parentHeight = $height)
        #set($parentLayout = $layout)
        #set($pause = "#if($autoplay == 'true')pause#{else}play#end")
        #set($play = "#if($autoplay == 'true')play#{else}pause#end")
        #set($carousel_id = "carousel_id_${contentId}")
        #set($pause_carousel_id = "pause_carousel_id_${contentId}")
        <!--#protect
        #if($indicators == "true" && $items.size() > 1)
            <div class="carousel-controls">
                <span [text]="${pause_carousel_id} ? '$play' : '$pause'" [class]="${pause_carousel_id} ? 'paused' : ''" role="button" tabindex="0" on="tap:AMP.setState({${pause_carousel_id}: !${pause_carousel_id} }), ${carousel_id}.toggleAutoplay()">$pause</span>
                <ol class="indicators">
                    ## loop through each item
                    #foreach($item in $items)
                        #set($i = $velocityCount - 1)
                        <li aria-label="slide ${velocityCount}" role="button" class="#if($i == 0)active#end" [class]="${carousel_id} == ${i} || (${carousel_id} == null && ${i} == 0) ? 'active' : ''" on="tap:AMP.setState({${carousel_id}: ${i}})" tabindex="0"></li>
                    #end
                </ol>
            </div>
        #end
        <amp-carousel id="${carousel_id}" [slide]="${carousel_id}" on="slideChange:AMP.setState({ ${carousel_id}: event.index })" width="${width}" height="${height}" layout="${layout}" type="slides" ${autoplayAttr} ${loopAttr} delay="${delay}" ${attributes}>
        #foreach($item in $items)
            #setAttributes($item)
            #if($link != '')<a href="${link}" target="${target}">#end
                <div class="carousel-item-${velocityCount}">
                    #if($src != '')<amp-img src="${src}" width="${parentWidth}" height="${parentHeight}" layout="${parentLayout}" alt="${altText}"> </amp-img>#if($text.length() > 0)<div class="caption">${text}</div>#end
                    #else${text}#end
                </div>
            #if($link != '')</a>#end
        #end
        </amp-carousel>
        #protect-->
    #elseif($type == 'amp-iframe')
        #foreach($item in $items)
            #setAttributes($item)
            <amp-iframe src="${src}" width="${width}" height="${height}" title="${altText}" layout="${layout}" sandbox="${sandbox}" allowfullscreen="" frameborder="0" ${attributes}>
                <amp-img src="https://apps.kahalamgmt.com/images/placeholder.png" placeholder="" width="16" height="16">
                </amp-img>
            </amp-iframe>
        #end
    #elseif($type == 'block')
        #foreach($item in $items)
            #setAttributes($item)
            #if($format == '')<div ${attributes}>${block}</div>
            #else #import($format) #end
        #end
    #elseif($type == 'WYSIWYG')
        #foreach($item in $items)
            #setAttributes($item)
            <div ${attributes}>${wysiwyg}</div>
        #end
    #end
#end

## create a map of keys and values from a string
#macro(setAttributeMap $attr)
    ## initialize attribute variables
    #set($attrMap = {})
    #set($attr = $attr.replace("'", '"')) ## format to quotation markup
    #set($attrList = $attr.split('"'))
    
    ## put key and values into a map variable
    #foreach($item in $attrList)
        #set($switch = ($velocityCount - 1) % 2) ## switch between '0' and '1'
        #if($switch == 0)  ## set key when the switch is '0'
            #set($listAttr = $item.replace(' ', '').replace('=', ''))
        #else ## set value for matching key when switch is '1'
            #set($listValue = $item)
            #set($print = $attrMap.put($listAttr, $listValue))
        #end
    #end
#end