#set($html = "#renderPage()")
#set($html = $html.replaceAll('  ', ''))
<!--#protect${html}#protect-->
## Render page content with custom attributes for each node
#macro(renderPage)
    #set($page = $_XPathTool.selectSingleNode($contentRoot, '//system-data-structure/PAGE'))
    #set($sections = $_XPathTool.selectNodes($page, 'SECTION'))
    #foreach($section in $sections)
        #setAttributes($section 'section' 'before')
        <section ${attributes} data-name="section-${velocityCount}">
            #set($rows = $_XPathTool.selectNodes($section, 'ROW'))
            #foreach($row in $rows)
                #setAttributes($row 'row' 'before')
                <div ${attributes}>
                    #set($columns = $_XPathTool.selectNodes($row, 'COLUMN'))
                    #foreach($column in $columns)
                        #setAttributes($column 'column' 'before')
                        <div ${attributes}>
                            #set($contents = $_XPathTool.selectNodes($column, 'CONTENT'))
                            #foreach($content in $contents)
                                #setAttributes($content 'content' 'before')
                                #setContent($content)
                                #setAttributes($content 'content' 'after')
                            #end
                        </div>
                        #setAttributes($column 'column' 'after')
                    #end
                </div>
                #setAttributes($row 'row' 'after')
            #end
        </section>
        #setAttributes($section 'section' 'after')
    #end
#end
## Set attributes for elements with visible data definitions.
#macro(setAttributes $elem $name $order)
    #if($order == 'before')
        #set($attributes = $elem.getChild('ATTRIBUTES').value)
        #setAttributeMap($attributes)
        ## $content attributes (may be inherited by $item attributes)
        #set($type = $elem.getChild('TYPE').value)
        #set($width = $elem.getChild('WIDTH').value)
        #set($height = $elem.getChild('HEIGHT').value)
        #set($layout = $elem.getChild('LAYOUT').value)
        #set($autoplay = $elem.getChild('AUTOPLAY').value)
        #set($loop = $elem.getChild('LOOP').value)
        #set($indicators = $elem.getChild('INDICATORS').value)
        #set($delay = $elem.getChild('DELAY').value)
        #set($sandbox = $elem.getChild('SANDBOX').value)
        ## $item attributes
        #set($text = '') #set($text = $elem.getChild('TEXT').value)
        #set($internalMedia = '') #set($internalMedia = $elem.getChild('INTERNAL-MEDIA').getChild('link').value)
        #set($videoPoster = '') #set($videoPoster = $elem.getChild('VIDEO-POSTER').getChild('link').value)
        #set($block = '') #set($block = $_SerializerTool.serialize($elem.getChild('BLOCK').getChild('content'), true))
        #set($format = '') #set($format = $_EscapeTool.xml($elem.getChild('FORMAT').value))
        #set($externalMedia = '') #set($externalMedia = $_EscapeTool.xml($elem.getChild('EXTERNAL-MEDIA').value))
        #set($altText = '') #set($altText = $_EscapeTool.xml($elem.getChild('ALT-TEXT').value))
        #set($internalPath = '') #set($internalPath = $elem.getChild('INTERNAL-PATH').getChild('link').value)
        #set($externalPath = '') #set($externalPath = $_EscapeTool.xml($elem.getChild('EXTERNAL-PATH').value))
        #set($target = '') #set($target = $elem.getChild('TARGET').value)
        #set($wysiwyg = '') #set($wysiwyg = $_SerializerTool.serialize($_XPathTool.selectSingleNode($elem, 'WYSIWYG'), true))
        #set($link = '')
        #set($src = '')
        #set($poster = '')
        ## Conditionally modify attributes
        #if($internalPath.length() > 0) #set($link = '[system-asset]' + $internalPath + '[/system-asset]') #end
        #if($externalPath.length() > 0) #set($link = $externalPath) #end
        #if($internalMedia.length() > 0) #set($src = '[system-asset]' + $internalMedia + '[/system-asset]') #end
        #if($externalMedia.length() > 0) #set($src = $externalMedia) #end
        #if($videoPoster.length() > 0) #set($poster = 'poster="[system-asset]' + $videoPoster + '[/system-asset]"') #end
        #if($autoplay == 'true') #set($autoplayAttr = 'autoplay=""') #else #set($autoplayAttr = '') #end
        #if($loop == 'true') #set($loopAttr = 'loop=""') #else #set($loopAttr = '') #end
        #if(!$contentId) #set($contentId = 0) #else #set($contentId = $contentId + 1) #end
    #elseif($order == 'after')
        #set($attributes = '')
        #setAttributeMap($attributes)
    #end
    #checkLink($name $order)
    #checkDate($name $order)
#end
## Output HTML by content type
#macro(setContent $content)
    #set($items = $_XPathTool.selectNodes($content, 'ITEM'))
    #if($type == 'h1' || $type == 'h2' || $type == 'h3' || $type == 'p' || $type == 'div')
        <div ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            <${type} ${attributes}>${text}</${type}>
            #setAttributes($item 'item' 'after')
        #end
        </div>
    #elseif($type == 'a')
        <div ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            <a href="${link}" target="${target}" ${attributes}>${text}</a>
            #setAttributes($item 'item' 'after')
        #end
        </div>
    #elseif($type == 'ul')
        <ul ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            <li ${attributes}>${text}</li>
            #setAttributes($item 'item' 'after')
        #end
        </ul>
    #elseif($type == 'amp-img')
        <div ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            <amp-img src="${src}" width="${width}" height="${height}" layout="${layout}" alt="${altText}" ${attributes}>
            </amp-img>
            #setAttributes($item 'item' 'after')
        #end
        </div>
    #elseif($type == 'amp-video')
        <div ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            <amp-video id="video_${contentId}" alt="${altText}" width="${width}" height="${height}" src="${src}" ${poster} layout="${layout}" ${autoplayAttr} ${loopAttr} on="tap:video_${contentId}.play" ${attributes}>
                <div fallback=""><p>Your browser doesn't support HTML5 video.</p></div>
            </amp-video>
            #setAttributes($item 'item' 'after')
        #end
        </div>
    #elseif($type == 'amp-carousel')
        #set($parentWidth = $width)
        #set($parentHeight = $height)
        #set($parentLayout = $layout)
        #set($pause = "#if($autoplay == 'true')pause#{else}play#end")
        #set($play = "#if($autoplay == 'true')play#{else}pause#end")
        #set($carousel_id = "carousel_id_${contentId}")
        #set($pause_carousel_id = "pause_carousel_id_${contentId}")     
        #if($indicators == "true")
            <div class="carousel-controls">
                <span [text]="${pause_carousel_id} ? '$play' : '$pause'" [class]="${pause_carousel_id} ? 'paused' : ''" role="button" tabindex="0" on="tap:AMP.setState({${pause_carousel_id}: !${pause_carousel_id} }), ${carousel_id}.toggleAutoplay()">$pause</span>
                <ol class="indicators">
                    ## loop through each item
                    [system-view:external]<?php $count = 0; ?>[/system-view:external]
                    #foreach($item in $items)
                        [system-view:external]<?php $active = true; ?>[/system-view:external]
                        #setAttributes($item 'item' 'before')
                        #set($i = $velocityCount - 1)
                        #set($internalClass = "[system-view:internal]class='#if(${i} == 0)active#end'[/system-view:internal]")
                        #set($externalClass = "[system-view:external]class='<?php echo $count == 0 ? active : ''; ?>'[/system-view:external]")
                        #set($ini = "[system-view:internal]${i}[/system-view:internal]")
                        #set($exi = "[system-view:external]<?php echo $count; ?>[/system-view:external]")
                        <li aria-label="slide ${velocityCount}" role="button" ${internalClass} ${externalClass} [class]="${carousel_id} == ${ini}${exi} || (${carousel_id} == null && ${ini}${exi} == 0) ? 'active' : ''" on="tap:AMP.setState({${carousel_id}: ${ini}${exi}})" tabindex="0"></li>
                        [system-view:external]<?php $count += ($active) ? 1 : 0; ?>[/system-view:external]
                        #setAttributes($item 'item' 'after')
                    #end
                </ol>
            </div>
        #end
        <amp-carousel id="${carousel_id}" [slide]="${carousel_id}" on="slideChange:AMP.setState({ ${carousel_id}: event.index })" width="${parentWidth}" height="${parentHeight}" layout="${layout}" type="slides" ${autoplayAttr} ${loopAttr} delay="${delay}" ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            <div class="carousel-item-${velocityCount}" ${attributes}>
                #if($src != '')<amp-img src="${src}" width="${parentWidth}" height="${parentHeight}" layout="${parentLayout}" alt="${altText}"> </amp-img>#if($text.length() > 0)<div class="caption">${text}</div>#end
                #else${text}#end
            </div>
            #setAttributes($item 'item' 'after')
        #end
        </amp-carousel>
    #elseif($type == 'amp-iframe')
        <div ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            <amp-iframe src="${src}" width="${width}" height="${height}" title="${altText}" layout="${layout}" sandbox="${sandbox}" allowfullscreen="" frameborder="0" ${attributes}>
                <amp-img src="https://apps.kahalamgmt.com/images/placeholder.png" placeholder="" width="16" height="16">
                </amp-img>
            </amp-iframe>
            #setAttributes($item 'item' 'after')
        #end
        </div>
    #elseif($type == 'block')
        <div ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            #if($format == '')<div ${attributes}>${block}</div>
            #else #import($format) #end
            #setAttributes($item 'item' 'after')
        #end
        </div>
    #elseif($type == 'WYSIWYG')
        <div ${attributes}>
        #foreach($item in $items)
            #setAttributes($item 'item' 'before')
            <div ${attributes}>${wysiwyg}</div>
            #setAttributes($item 'item' 'after')
        #end
        </div>
    #end
#end
## Create a map of keys and values from a string
#macro(setAttributeMap $attr)
    ## Initialize attribute variables
    #set($attributeMap = {})
    #set($attr = $attr.replace("'", '"')) ## format to quotation markup
    #set($attrList = $attr.split('"'))
    #set($attr = '') ## clear attribute
    ## Put key and values into a map variable
    #foreach($item in $attrList)
        #set($switch = ($velocityCount - 1) % 2) ## Switch between '0' and '1'
        #if($switch == 0)  ## Set key when the switch is '0'
            #set($listAttr = $item.replace(' ', '').replace('=', ''))
        #else ## Set value for matching key when switch is '1'
            #set($listValue = $item)
            #set($print = $attributeMap.put($listAttr, $listValue))
        #end
    #end
#end
## Remove attribute
#macro(removeAttribute $key)
    #if($attributeMap.size() > 0)
        #set($attributes = '')
        #set($newAttributeMap = {})
        #foreach ($mapEntry in $attributeMap.entrySet())
            #if($key != $mapEntry.key)
                #set($print = $newAttributeMap.put($mapEntry.key, $mapEntry.value))
                #set($attributes = $attributes + ($mapEntry.key + '="' + $mapEntry.value + '" '))
            #end
        #end
        #set($attributeMap = $newAttributeMap)
    #end
#end
## Check if an href value exists
#macro(checkLink $name $order)
    #set($mapTarget = '')
    #set($dataHREF = '')
    #set($dataHREF = $attributeMap['href'])
    #if($order == 'before')
        #if($name == 'section')#set($sectionHREF = '')#set($sectionHREF = $dataHREF)#end
        #if($name == 'row')#set($rowHREF = '')#set($rowHREF = $dataHREF)#end
        #if($name == 'column')#set($columnHREF = '')#set($columnHREF = $dataHREF)#end
        #if($name == 'content')#set($contentHREF = '')#set($contentHREF = $dataHREF)#end
        #if($name == 'item')#set($itemHREF = '')#set($itemHREF = $dataHREF)#end
    #elseif($order == 'after')
        #if($name == 'section')#set($dataHREF = $sectionHREF)#end
        #if($name == 'row')#set($dataHREF = $rowHREF)#end
        #if($name == 'column')#set($dataHREF = $columnHREF)#end
        #if($name == 'content')#set($dataHREF = $contentHREF)#end
        #if($name == 'item')#set($dataHREF = $itemHREF)#end
    #end
    #if($dataHREF.length() > 0)
        #if($order == 'before')
            #if($attributeMap['target'])#set($mapTarget='target="'+$attributeMap['target']+'"')#removeAttribute('target')#end
            <a href="${dataHREF}" ${mapTarget}>#removeAttribute('href')
        #elseif($order == 'after')</a>#end
    #end
#end
## Check if data attributes exist and add logical PHP wrappers
#macro(checkDate $name $order)
    #set($dataFlag = '')
    #set($dataStart = '')
    #set($dataEnd = '')
    #set($dataStart = $attributeMap['data-start'])
    #set($dataEnd = $attributeMap['data-end'])
    ## Set the start and end date if order is 'before' or 'after'
    #if($order == 'before')
        #if($name == 'section')#set($sectionStartDate = '')#set($sectionEndDate = '')#set($sectionStartDate = $dataStart)#set($sectionEndDate = $dataEnd)#end
        #if($name == 'row')#set($rowStartDate = '')#set($rowEndDate = '')#set($rowStartDate = $dataStart)#set($rowEndDate = $dataEnd)#end
        #if($name == 'column')#set($columnStartDate = '')#set($columnEndDate = '')#set($columnStartDate = $dataStart)#set($columnEndDate = $dataEnd)#end
        #if($name == 'content')#set($contentStartDate = '')#set($contentEndDate = '')#set($contentStartDate = $dataStart)#set($contentEndDate = $dataEnd)#end
        #if($name == 'item')#set($itemStartDate = '')#set($itemEndDate = '')#set($itemStartDate = $dataStart)#set($itemEndDate = $dataEnd)#end
    #elseif($order == 'after')
        #if($name == 'section')#set($dataStart = $sectionStartDate)#set($dataEnd = $sectionEndDate)#end
        #if($name == 'row')#set($dataStart = $rowStartDate)#set($dataEnd = $rowEndDate)#end
        #if($name == 'column')#set($dataStart = $columnStartDate)#set($dataEnd = $columnEndDate)#end
        #if($name == 'content')#set($dataStart = $contentStartDate)#set($dataEnd = $contentEndDate)#end
        #if($name == 'item')#set($dataStart = $itemStartDate)#set($dataEnd = $itemEndDate)#end
    #end
    ## Add PHP if any date attributes exist
    #if($dataStart.length() > 0 || $dataEnd.length() > 0)
        #if($dataStart.length() <= 0) #set($dataStart = '01-01-2000') #end
        #if($dataEnd.length() <= 0) #set($dataEnd = '01-01-9999') #end
        #if($order == 'before' || $order == 'after')
            ## Add data-flag attribute for current scheduled status
            #set($today = $_MathTool.toInteger($_DateTool.format('yyyyMMdd', $_DateTool.getDate())))
            #set($startDate = $_MathTool.toInteger($_DateTool.format('yyyyMMdd', $_DateTool.toDate('MM-dd-yyyy', $dataStart))))
            #set($endDate = $_MathTool.toInteger($_DateTool.format('yyyyMMdd', $_DateTool.toDate('MM-dd-yyyy', $dataEnd))))
            #if($today < $startDate)#set($dataFlag = ' data-flag="pending"')
            #elseif($today >= $startDate && $today < $endDate)#set($dataFlag = ' data-flag="live"')
            #elseif($today >= $endDate)#set($dataFlag = ' data-flag="expired"')#end
            ## Format data and include Velocity variables with PHP
            #set($dataStart = $dataStart.replaceAll('-', '/'))
            #set($dataEnd = $dataEnd.replaceAll('-', '/'))
            #if($order == 'before')#set($attributes = $attributes + $dataFlag)[system-view:external]<?php $t = date('Y-m-d'); $t = date('Y-m-d', strtotime($t)); $s = date('Y-m-d', strtotime('${dataStart}')); $e = date('Y-m-d', strtotime('${dataEnd}')); $active = (($s <= $t) && ($t < $e)); if($active) : ?>[/system-view:external]
            #elseif($order == 'after')[system-view:external]<?php endif; ?>[/system-view:external]#end
        #end
    #end
#end